.button-save {
  margin-top: 15px;
  width: 80px;
}

.validation-message-new-password {
  margin-top: -10px;
  font-size: 75%;
  width: 200px;
}

.validation-message-confirm-password {
  width: 205px;
}
