.form-register-buttons {
  margin-top: 30px;
}

.btn-register {
  width: 85px;
}

.btn-login {
  margin-left: 20px;
  text-decoration: none;
}

@media (max-width: 767px) {
  .flex-direction-column {
    flex-direction: column;
  }
}
