/* You can add global styles to this file, and also import other style files */

html, body {
  font-size: 14px;
  height: 100%;
}

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  min-width: 300px;
}

.content {
  margin: 10px;
}

.validation-message, .error-message {
  color: #eb0000;
}

.error-message-header {
  width: 90%;
  margin: 20px 10px 0px 20px;
  justify-content: left !important;
}

  .error-message-header .mat-icon {
      margin-right: 5px;
  }

@media (min-width: 450px) {
  .mat-menu-content {
    padding: 0px !important;
  }
}

@media (min-width: 768px) {
  html, body {
    font-size: 16px;
  }

  .content {
    margin: 20px;
  }
}
