mat-form-field input,
mat-form-field textarea {
  cursor: default;
}

.status-field {
  width: 180px;
  justify-content: start;
}

.status-icon {
  margin-left: 40px;
}

.field-show-company > a {
  font-weight: bold;
  width: 180px;
}
